html {
  font-size: 14px;
}

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  font-family: "Montserrat", sans-serif;
}
body span {
  text-transform: uppercase;
}
body > header {
  width: 100vw;
  background-color: #342b47;
  margin-top: 0;
}
body > header h1 {
  font-size: 2em;
  font-weight: bold;
  text-align: center;
  color: white;
  height: 6vh;
  margin: auto;
  padding-top: 0.2em;
}
body > main {
  display: grid;
  grid-template-columns: 1fr 3.5fr 1fr;
  background: linear-gradient(#5c4d7d, #455e89, #2e6f95);
  margin: auto;
}
body > main aside {
  grid-column: 2/3;
  background-color: white;
  margin-bottom: 6em;
}
body > main aside header {
  margin: auto;
}
body > main aside header h2 {
  text-align: center;
  font-size: 2em;
}
body > main aside > section:first-of-type {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  background-color: white;
}
body > main aside > section:first-of-type article:first-of-type {
  grid-column: 1/2;
  grid-row: 1/2;
  background-color: white;
}
body > main aside > section:first-of-type article:first-of-type header figure {
  margin: auto;
  padding-left: 1em;
  padding-top: 2em;
}
body > main aside > section:first-of-type article:first-of-type header figure img {
  height: 30vh;
  width: 29vw;
}
body > main aside > section:first-of-type article:first-of-type header h3 {
  margin: auto;
  padding-left: 1em;
}
body > main aside > section:first-of-type article:first-of-type p {
  padding-right: 1em;
}
body > main aside > section:first-of-type article:first-of-type section {
  margin: auto;
  padding-left: 1.2em;
}
body > main aside > section:first-of-type article:first-of-type section header {
  padding-top: 1em;
}
body > main aside > section:first-of-type article:first-of-type section header h4 {
  margin: auto;
  padding-left: 0;
}
body > main aside > section:first-of-type article:nth-of-type(2) {
  grid-column: 2/3;
  grid-row: 1/2;
  background-color: white;
}
body > main aside > section:first-of-type article:nth-of-type(2) header figure {
  margin: auto;
  padding-right: 1em;
  padding-top: 2em;
}
body > main aside > section:first-of-type article:nth-of-type(2) header figure img {
  height: 30vh;
  width: 29vw;
}
body > main aside > section:first-of-type article:nth-of-type(2) header h3 {
  margin: auto;
  padding-right: 1em;
}
body > main aside > section:first-of-type article:nth-of-type(2) p {
  padding-right: 1em;
}
body > main aside > section:first-of-type article:nth-of-type(2) section {
  margin: auto;
  padding-right: 1.2em;
}
body > main aside > section:first-of-type article:nth-of-type(2) section header {
  padding-top: 1em;
}
body > main aside > section:first-of-type article:nth-of-type(2) section header h4 {
  margin: auto;
  padding-left: 0;
}
body > main aside > section:first-of-type article:nth-of-type(3) {
  grid-column: 1/2;
  grid-row: 2/3;
  background-color: white;
}
body > main aside > section:first-of-type article:nth-of-type(3) header figure {
  margin: auto;
  padding-left: 1em;
  padding-top: 2em;
}
body > main aside > section:first-of-type article:nth-of-type(3) header figure img {
  height: 30vh;
  width: 29vw;
}
body > main aside > section:first-of-type article:nth-of-type(3) header h3 {
  margin: auto;
  padding-left: 1em;
}
body > main aside > section:first-of-type article:nth-of-type(3) p {
  padding-right: 1em;
}
body > main aside > section:first-of-type article:nth-of-type(3) section {
  margin: auto;
  padding-left: 1.2em;
}
body > main aside > section:first-of-type article:nth-of-type(3) section header {
  padding-top: 1em;
}
body > main aside > section:first-of-type article:nth-of-type(3) section header h4 {
  margin: auto;
  padding-left: 0;
}
body > main aside > section:first-of-type article:nth-of-type(4) {
  grid-column: 2/3;
  grid-row: 2/3;
  background-color: white;
}
body > main aside > section:first-of-type article:nth-of-type(4) header figure {
  margin: auto;
  padding-right: 1em;
  padding-top: 2em;
}
body > main aside > section:first-of-type article:nth-of-type(4) header figure img {
  height: 30vh;
  width: 29vw;
}
body > main aside > section:first-of-type article:nth-of-type(4) header h3 {
  margin: auto;
  padding-right: 1em;
}
body > main aside > section:first-of-type article:nth-of-type(4) p {
  padding-right: 1em;
}
body > main aside > section:first-of-type article:nth-of-type(4) section {
  margin: auto;
  padding-right: 1.2em;
}
body > main aside > section:first-of-type article:nth-of-type(4) section header {
  padding-top: 1em;
}
body > main aside > section:first-of-type article:nth-of-type(4) section header h4 {
  margin: auto;
  padding-left: 0;
}
body > main aside > section:first-of-type article:nth-of-type(5) {
  grid-column: 1/2;
  grid-row: 3/4;
  background-color: white;
}
body > main aside > section:first-of-type article:nth-of-type(5) header figure {
  margin: auto;
  padding-left: 1em;
  padding-top: 2em;
}
body > main aside > section:first-of-type article:nth-of-type(5) header figure img {
  height: 30vh;
  width: 29vw;
}
body > main aside > section:first-of-type article:nth-of-type(5) header h3 {
  margin: auto;
  padding-left: 1em;
}
body > main aside > section:first-of-type article:nth-of-type(5) p {
  padding-right: 1em;
}
body > main aside > section:first-of-type article:nth-of-type(5) section {
  margin: auto;
  padding-left: 1.2em;
}
body > main aside > section:first-of-type article:nth-of-type(5) section header {
  padding-top: 1em;
}
body > main aside > section:first-of-type article:nth-of-type(5) section header h4 {
  margin: auto;
  padding-left: 0;
}
body > main aside > section:first-of-type article:last-of-type {
  grid-column: 2/3;
  grid-row: 3/4;
  background-color: white;
}
body > main aside > section:first-of-type article:last-of-type header figure {
  margin: auto;
  padding-right: 1em;
  padding-top: 2em;
}
body > main aside > section:first-of-type article:last-of-type header figure img {
  height: 30vh;
  width: 29vw;
}
body > main aside > section:first-of-type article:last-of-type header h3 {
  margin: auto;
  padding-right: 1em;
}
body > main aside > section:first-of-type article:last-of-type p {
  padding-right: 1em;
}
body > main aside > section:first-of-type article:last-of-type section {
  margin: auto;
  padding-right: 1.2em;
}
body > main aside > section:first-of-type article:last-of-type section header {
  padding-top: 1em;
}
body > main aside > section:first-of-type article:last-of-type section header h4 {
  margin: auto;
  padding-left: 0;
}
body > main section {
  margin-left: 1em;
}
body > main section h5 {
  color: white;
}
body > main section section {
  padding-left: 0;
}
body > main section section h6 {
  color: white;
}
body > main section section nav ul {
  padding-left: 0;
  list-style: none;
}
body > main section section nav ul li {
  color: white;
}

/*# sourceMappingURL=style.css.map */
